*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
}

body
{
    background-color: #e5e5f7;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 36px ), repeating-linear-gradient( #9499ff55, #9499ff );
    background-attachment: fixed;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

#app
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
